<% include header %>
<div id="masthead">  
  <div class="container">
      <div class="row">
			  <div class="col-md-12">
						<img src="../img/page_header/alumni2.jpg">
							<h1><%- title %></h1>
						</img>
				</div>

      </div> 
  </div><!-- /cont -->
</div>
<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li>
										<a href="#sec0">How We Support You</a>
                  	<ul class="nav">
                      <li class="sec0"><a href="#sec0a">Email For Life</a></li>
                      <li class="sec0"><a href="#sec0b">Graduates' Magazine</a></li>
                      <li class="sec0"><a href="#sec0c">Family Programme</a></li>
                      <li class="sec0"><a href="#sec0d">Memorabilia</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#sec1">News, Events & Reunions</a>
                    <ul class="nav">
                      <li class=""><a href="#">Alumni Dinner 2015</a></li>
                      <li class=""><a href="#">Dave Cousins Gig and Book Signing</a></li>
                      <li class=""><a href="#">Outstanding Alumni Achievement Award</a></li>
                      <li class=""><a href="#">Past Events and Reuinions</a></li>
                      <li class=""><a href="#">Alumni E-Newsletter</a></li>
                      <li class=""><a href="#">Latest Alumni News</a></li>
                      <li class=""><a href="#">Santander Universities</a></li>
											
                    </ul>
                  </li>
                  <li><a href="#sec2">Support Us</a></li>
                  <li><a href="#sec3">Stay In Touch</a></li>
                  <li><a href="#sec4">Useful Links</a></li>
									<li><a href="#sec5">About Us</a></li>
                  <li><a href="#sec6">Transcripts & Certificates</a></li>
                  <li><a href="#sec7">Medics</a></li>
              	</ul>
      		</div>  
      		<div class="col-md-9">
              	<hr class="col-md-12">
              	<h2 id="sec0" class="sec0">How We Support You</h2>
           
              	<hr class="col-md-12">
              	The Alumni Office exists to maintain strong links with graduates, parents, friends and supporters of the University through a programme of events, services and communications. We are also responsible for encouraging and stewarding philanthropic gifts to support a range of funding needs including bursaries for students, campus facilities and state-of-the-art research equipment.
								
								<h2 id="sec0a">Email For Life</h2>
								<hr class="col-md-12">
									Welcome to the University of Leicester's Alumni email forwarding service - called Email for Life. This is an email forwarding service which is freely available to all students graduating from July 2005.

				<h3>Why is an Email for Life Useful?</h3>
				
				During your life time you may have to change your email provider several times and on each occasion you will lose your current email address. Think of the effort involved in telling all your friends and contacts of your new email address! Your Email for Life email address is the only one you will ever need to use for the rest of your life and the only people you need to tell of any changes is us.
				
				<h3>How does it work?</h3>
				
				Email for Life is an email forwarding service that is based upon your current University email address with the word "alumni" added. For example, abc1@leicester.ac.uk will become an Email for Life address of abc1@alumni.leicester.ac.uk . Any emails sent to this address will be forwarded directly to the currrent email address that you have registered with us. You simply have to specify the email address to which you want your Email for Life delivered.
				
				<h3>What Email for Life is not</h3>
				
				Email for Life is not an email service and has no email account, file storage etc. associated with it - it is an email forwarding service which redirects emails to a destination email address of your choosing.
				
				<h3>What You Need Before You Can Register for an Email for Life Account</h3>
				
				Before you can register for the Email for Life service you will need:
				
				a current University IT account
				an external email address (see below)
				your student registration number
				During the registration process you will be asked to supply a password that you will need if you return to this site to update your registration details. To help you remember this password you will be asked for a statement that will be quoted back to you if you forget your password - so have one ready.
				
				You should also have read and be prepared to accept our Terms and Conditions of service.
				
				<h3>Where You Can Get an External Email Address</h3>
				
				There are many Internet providers of email services and many offer a free service. You will need to register with one of these providers before you can register for the Email for Life service.
				
				<h3>Registering for the Email for Life Service</h3>
				
				If you have all the details outlined above and have read the Terms and Condition of this service then click on the Apply for Email for Life option on the left hand menu on this page.
				
				<h3>Updating Your Details</h3>
				
				If you wish to update any of the details that you provided when you registered for the Email for Life service, for example your permanent email address or your home address, click on the Update Your Details option on the left hand menu on this page - keep in touch and keep our records up-to-date!
									
              	
								<h2 id="sec0b">Graduates' Magazine</h2>
								<hr class="col-md-12">
              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.              
              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
								
							<h2 id="sec0c">Family Programme</h2>
								<hr class="col-md-12">
              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.              
              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
							<h2 id="sec0d">Memorabilia</h2>
								<hr class="col-md-12">
              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.              
              	Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
              	
              
              	<h2 id="sec1">News, Events & Reunions</h2>
              	<p>
                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
              	</p>
              	<div class="row">
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>Hello.</h3></div>
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                      Aliquam in felis sit amet augue.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="panel panel-default">
                      <div class="panel-heading"><h3>Hello.</h3></div>
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                      Aliquam in felis sit amet augue.
                      </div>
                    </div>
                  </div>  
              	</div>
              
              	<hr>
              
              	<h2 id="sec2">Support Us</h2>
              	<p>
                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
              	</p>
              	<div class="row">
              		<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                  	<div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
              	</div>
              
              	<hr>
              
              	<h2 id="sec3">Stay In Touch</h2>
      			Images are responsive sed @mdo but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              
              	<h2 id="sec4">Useful Links</h2>
      			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
						
						<h2 id="sec5">About Us</h2>
      			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
						<h2 id="sec6">Transcripts & Certificates</h2>
      			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              
						<h2 id="sec7">Medics</h2>
      			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
              	<hr>
              	
              	
      		</div> 
  	</div>
</div>
<% include footer %>