<% include header2 %>
<!--script src="/js/mixitup2.js"></script>
<link rel="stylesheet" href="/css/mixitup2.css"-->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" id="navFix" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Take A</span> Hike
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Download</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Take A Hike</h1>
                        <p class="intro-text">Add a tagline here. Plus other stuff and things. Filler filler filler.</p>
                        <a href="#blah" class="btn btn-circle page-scroll">
<!--													<i class="glyphicon glyphicon-search">
-->                            <i class="fa fa-angle-double-down "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
		

    <!-- About Section -->
    <section id="blah" class="container-fluid content-section text-center">
        <div class="row" id="rowFix">
            <div class="col-sm-8">
							<h2>Find A Hike</h2>
							<% include findahike %>


               
            </div>
            
            <div class="col-sm-4" id="rowFix">
            	<div id="sideBar">
            		<div id="map-canvas"></div>
            	</div>
            </div>
        </div>
    </section>
<% include footer2 %>

  