<% include header %>
<script src="/js/mixitup.js"></script>
<link rel="stylesheet" href="/css/mixitup.css">

<form class="controls" id="Filters">
  <!-- We can add an unlimited number of "filter groups" using the following format: -->
  <fieldset>
    <h4>Shapes</h4>
    <div class="checkbox">
      <input type="checkbox" value=".square"/>
      <label>Square</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".circle"/>
      <label>Circle</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".triangle"/>
      <label>Triangle</label>
    </div>
  </fieldset>
  
  <fieldset>
    <h4>Colours</h4>
    <div class="checkbox">
      <input type="checkbox" value=".white"/>
      <label>White</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".green"/>
      <label>Green</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".blue"/>
      <label>Blue</label>
    </div>
  </fieldset>
  
  <fieldset>
    <h4>Sizes</h4>
    <div class="checkbox">
      <input type="checkbox" value=".sm"/>
      <label>Small</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".lrg"/>
      <label>Large</label>
    </div>
  </fieldset>
  
  <button id="Reset">Clear Filters</button>
</form>


<div id="Container" class="container">
  <div class="fail-message"><span>No items were found matching the selected filters</span></div>
  
  <div class="mix triangle white lrg"></div>
  <div class="mix square white sm"></div>
  <div class="mix circle green lrg"></div>
  <div class="mix triangle blue lrg"></div>
  <div class="mix square white lrg"></div>
  <div class="mix circle blue sm"></div>
  <div class="mix triangle green lrg"></div>
  <div class="mix square blue lrg"></div>
  <div class="mix circle white lrg"></div>
  <div class="gap"></div>
  <div class="gap"></div>
  <div class="gap"></div>
  <div class="gap"></div>
</div>

<script>
	// On document ready:

$(function(){

	// Instantiate MixItUp:

	$('#Container').mixItUp();

});
</script>
<% include footer %>