<% include header %>
<script src="/js/mixitup.js"></script>
<link rel="stylesheet" href="/css/mixitup.css">

<form class="controls" id="Filters">
  <!-- We can add an unlimited number of "filter groups" using the following format: -->
  <fieldset>
		<!--REPLACE SHAPES WITH DIFFICULTY-->
    <h4>DIFFICULTY</h4>
    <div class="checkbox">
      <input type="checkbox" value=".ez"/>
      <!--label>Square</label-->
			<label><img src="img/filter/1-08.png"> Easy</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".mod"/>
      <!--label>Circle</label-->
	    <label><img src="img/filter/1-09.png"> Moderate</label>

    </div>
    <div class="checkbox">
      <input type="checkbox" value=".diff"/>
      <!--label>Triangle</label-->
	    <label><img src="img/filter/1-10.png"> Hard</label>
    </div>
  </fieldset>
  
  <fieldset>
	<!--REPLACE COLOURS WITH DISTANCE-->
    <h4>Distance</h4>
    <div class="checkbox">
      <input type="checkbox" value=".short"/>
      <label><img src="img/filter/0-08.png"> Short < 1 mile</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".med"/>
      <label><img src="img/filter/0-09.png"> Medium 1 - 3 miles</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".long"/>
      <label><img src="img/filter/0-10.png"> Long 3.5+ miles</label>
    </div>
  </fieldset>
  
  <fieldset>
	<!--REPLACE SIZES WITH DURATION-->
    <h4>Duration</h4>
    <div class="checkbox">
      <input type="checkbox" value=".lo"/>
      <label><img src="img/filter/0-07.png"> Short < 1 hour</label>
    </div>
		<div class="checkbox">
      <input type="checkbox" value=".mid"/>
      <label><img src="img/filter/0-06.png"> Medium 1-2 hours</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".hi"/>
      <label><img src="img/filter/0-05.png"> Long 2.5+ hours</label>
    </div>
  </fieldset>
  
  <button id="Reset">Clear Filters</button>
</form>


<div id="Container" class="container">
  <div class="fail-message"><span>No items were found matching the selected filters</span></div>
  
  <div class="mix easy mi hr"><a href="/hike_template"><img src="/img/MapCropped/Batiquitos_Map.png"></a></div>
  <div class="mix med mi sec"><img src="/img/MapCropped/Bayside_Map.png"></div>
  <div class="mix hard in hr"><img src="/img/MapCropped/CedarCreek_Map.png"></div>
  <div class="mix easy ft hr"><img src="/img/MapCropped/Cowles_Map.png"></div>
  <div class="mix med mi hr"><img src="/img/MapCropped/DiscoveryLake_Map.png"></div>
  <div class="mix hard ft sec"><img src="/img/MapCropped/Fortuna_Map.png"></div>
  <div class="mix easy in hr"><img src="/img/MapCropped/Inaja_Map.png"></div>
  <div class="mix med ft hr"><img src="/img/MapCropped/IronMountain_Map.png"></div>
  <div class="mix hard mi hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix hard ft sec"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
	<div class="mix easy mi hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix med mi sec"><img src="/img/MapCropped/Bayside_Map.png"></div>
  <div class="mix hard in hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix easy ft hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix med mi hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix hard ft sec"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix easy in hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix med ft hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix hard mi hr"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix diff long mid"><img src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="gap"></div>
  <div class="gap"></div>
  <div class="gap"></div>
  <div class="gap"></div>
</div>

<script>
	// On document ready:

$(function(){

	// Instantiate MixItUp:

	$('#Container').mixItUp();

});
</script>
<% include footer %>