</body>
 <div class="nav-footer nav-bottom">
  
<h6 style="height:2px;">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <!--
	<p style="color:#282828">2013 Cogs187a . Group 1 . <a href="#">Privacy</a> . <a href="#">Terms</a></p>
</h6>
-->
	<footer id="myFooter">
		<div class="container">
			<div class="row-fluid">
				<div class="col-xs-12">
					<div class="col-md-3" >
						<ul style="list-style-type: none;" >
							<li class="footerTitle">Pages<li>
					
							<li><a class="footerLink" href="/">Home</a></li>
							<li><a class="footerLink" href="/#blah"> Get Hiking</a></li>
							<li><a class="footerLink" href="/tips"> Get Informed</a></li>
							<li><a class="footerLink" href="/social"> Get Involved</a></li>
						</ul>
					</div>
					<div class="col-md-3" >
						<ul style="list-style-type: none;">
							<li class="footerTitle">Check Out These Sites<li>
						
							<li><a class="footerLink" href="http://sandiego.sierraclub.org/home/index.asp">Sierra Club </a></li>
							<li><a class="footerLink" href="http://alltrails.com/search?q=san+diego&ref=search">All Trials</a></li>
							<li><a class="footerLink" href="http://www.sandiegocounty.gov/parks/hikes.html"> Parks and Recreation</a></li>					
						</ul>
					</div>
					<div class="col-md-3" >
						<ul style="list-style-type: none;">
							<li class="footerTitle">The Iterative Design Process<li>
							<li><a class="footerLink" href="http://labummer.com/Take_a_hike/wireframe/wf1">wireframe #1</a></li>
							<li><a class="footerLink" href="http://labummer.com/Take_a_hike/wireframe/wf2">wireframe #2</a></li>
							<li><a class="footerLink" href="http://labummer.com/Take_a_hike/wireframe/wfFinal">wireframe #2</a></li>
						</ul>
					</div>
					<div class="col-md-3" >
						<ul style="list-style-type: none;">
							<li class="footerTitle">Designed by<li>
							<li><a class="footerLink" href="#">JIMMY NGUYEN</a></li>
							<li><a class="footerLink" href="#">NATASHA SPRINGER</a></li>
							<li><a class="footerLink" href="#">CHELSEA PATTEE</a></li>
						</ul>
					</div>	
				</div>					
			</div>
		</div>
	</footer>
	<footer id="secondFooter" style="background-color:#3e3e3e">
		<div class="container">
			<div class="row-fluid">
				<div class="col=md-12" style="padding-top:10px">
				<div class="col-md-5">
					<a class="footerLink" href="#">Terms of Service</a>    
					<a class="footerLink" href="#">Privacy</a>    
					<a class="footerLink" href="#">Security</a>
				</div>
				<div class="col-md-7">
					<p class="muted pull-right footerTitle2">&#169;2014 COGS187A FALL.  All rights reserved</p>
				</div>
			</div>
		</div>
	<footer>
</div>
 <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    
    
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/bootstrap-affix.js"></script>
    <script src="/js/holder.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script src="/js/application.js"></script>

</html>