</body>

<div class="nav-footer nav-bottom">
<h6 style="height:3px; background-color:#353535">
  <p class="pull-right"><a href="#">Back to top</a></p>
	<p style="color:#282828">2013 Cogs187a . Group Awesome . <a href="#">Privacy</a> . <a href="#">Terms</a></p>
</h6>
</div>




<!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">




	
<div id="footer">
<div class="container">
  	  <div class="row-fluid">
    <div class="col-md-2 offset1">
      <h3>Product</h3>
      <ul>
        <li><a href="/business/">Business</a></li>
        <li><a href="/sync_comparison.html">Compare</a></li>
        <li><a href="/features/index.html">Features</a></li>
        <li><a href="/pricing/">Pricing</a></li>
        <li><a href="/products/mobile/ios.html">Mobile</a></li>
        <li><a href="/partners/">App Showcase</a></li>
        <li><a class="tracker " href="/downloads/" data-tracker-cat="Footer / Download Link" data-tracker-action="Click">Download</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>Company</h3>
      <ul>
        <li><a href="/company/">About Us</a></li>
        <li><a href="http://www.sugarsync.com/blog/">Blog</a></li>
        <li><a href="http://www.sugarsync.com/blog/in-the-news/">News</a></li>
        <li><a href="/company/press-release.html">Press Releases</a></li>
        <li><a href="/company/careers.html">Jobs</a></li>
        <li><a href="/company/contacts.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://support.sugarsync.com" rel="ext">Support</a></li>
        <li><a href="/developer">Developers</a></li>
        <li><a href="/faq/referral_program.html">Referral Program</a></li>
        <li><a href="/affiliateprogram/">Affiliate Program</a></li>
        <li><a href="/reseller/">Reseller Program</a></li>
        <li><a href="/faq/folder_sharing.html">Folder Sharing FAQ</a></li>
        <!--li><a href="/videos/?v_setup">Video Tutorials</a></li-->
      </ul>
    </div>
  
    
  </div>
	
      </div>
    

    
    
     <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/bootstrap-affix.js"></script>
    <script src="/js/holder.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script src="/js/application.js"></script>





</html>