<% include header %>
    <!-- PAGE-HEADER-->
      <div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Fortuna Mountain</h1>
					
					<!-- BREADCRUMB -->
					<ul class="breadcrumb">
						<li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
						<li><a href="#">Find A Trail</a><span class="divider">&rarr;</span></li>
						<li class="active">Fortuna Mountain</li>
					</ul>
					<!--END: BREADCRUMB -->
				</div>
			</div>
		</div>
      </div>
<!-- PAGE-HEADER-->

<div class="container">
      <!-- Example row of columns -->
      <div class="row-fluid">
	  
<!-- CONTENT SIDE-->
<div class="col-sm-8">
<!-- INNER ROW-->
<div class="row-fluid">
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/TrailImages/Batiquitos/Batiquitos3.jpg" style="width:100%" class="img-responsive">
    </div>
    <div class="item">
      <img src="/img/TrailImages/Batiquitos/Batiquitos2.jpg" class="img-responsive">
    </div>
    <div class="item">
      <img src="/img/TrailImages/Batiquitos/Batiquitos1.jpg" class="img-responsive">
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
		
		<h2 class=""><a href="#"></a></h2>
			<!--p class=" clearfix">
				<i class="fa-icon-comment"></i>
				<a href="#">3 Comments</a>
				| <i class="fa-icon-share"></i>
				<a href="#">39 Shares</a> | <i class="fa-icon-user"></i> 
				<a href="#">Admin</a> | Tags: 
				<a href="#"><span class="label label-info">Bootstraptor</span></a> 
				<a href="#"><span class="label label-info">Bootstrap</span></a> 
				<a href="#"><span class="label label-info">UI</span></a> 
				<a href="#"><span class="label label-info">growth</span></a>
			</p-->
		<p class="lead">The trail is equipped with several maps
		throughout the pathway. </p>
		<p class="">
		    There are hills and some steep passages on
		the path and be aware it is not very shaded. It is a difficult
		trail with two paths that lead up to the summit. Be advised on
		the trails ahead of time and map out your hike, people tend to
		get confused on trail names and end up going a way they didn't
		mean to. It is a great hiking trail and recommended for trail
		runners. There is a waterfall to see only the way. Also dogs are allowed on a leash. There is a parking lot close the trial and it is free. </p>
		    
		    <p class="">
		    Address- Fortuna Mountain San Diego, CA 92124

                </p>
                
<!--/ article-->


<!--/ article-->
<hr>

</div>
<!-- INNER ROW-FLUID-->

</div>
<!-- /CONTENT SIDE-->
   
<!-- RIGHT SIDE-->   
	<div class="col-sm-4" style="background-color:RGBA(102, 102, 102, 1)">
		<h4>Specs</h4>
	<hr>
		<table class="table">
        <tbody>
            <tr>
                <td><img src="/img/filter-lg/0-08.png"></td>
                <td><h4>Difficult</h4></td>
            </tr>
						<tr>
                <td><img src="/img/filter-lg/0-05.png"></td>
                <td><h4>6.5 mi</h4></td>
            </tr>
            <tr>
                <td><img src="/img/filter-lg/0-11.png"></td>
                <td><h4>3 hr</h4></td>
            </tr>
        </tbody>
    </table>
	<div>
		 <h4>Trail</hs4>
			<hr>
			<img src="/img/MapSimple.png">
	</div>
		</br>
	<div>
		<h4>Activities</hs4>
			<hr>
			<img src="/img/MapSimple.png">
	</div>
		</br>
<h4>Weather</h4>
	<hr>
	<div class="col-md-3">
		<table class="table">
        <tbody>
            <tr>
                <td><img src="/img/climacons/SVG/Cloud-Fog.svg"></td>
                <td><img src="/img/climacons/SVG/Sun.svg"></td>
								<td><img src="/img/climacons/SVG/Cloud-Sun.svg"></td>
            </tr>
						<tr>
                <td><h2>68</h2></td>
                <td><h2>73</h2></td>
                <td><h2>70</h2></td>
            </tr>
            <tr>
                <td><h4>NOW</h4></td>
                <td><h4>TUE</h4></td>
								<td><h4>WED</h4></td>
            </tr>
        </tbody>
    </table>
		</div>
		
   </br>
   </br> 
    </div>
<!-- /RIGHT SIDE--> 

</div>
</div> <!-- /container -->
<!--/ CONTENT -->

<!-- FOOTER-->
<footer>
</div><!-- CONTAINER FOOTER-->
<div class="container">
	<h4>Similar Trails</h4>
	<div class="row">
	   <div class="col-sm-4 col-xs-6">
      
        <div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#"><img src="/img/TrailImages/Batiquitos/Batiquitos3.jpg" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>San Miguel Mountain Trail</p>
            <p></p>

          </div>
        </div><!--/panel-->
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#"><img src="/img/TrailImages/Batiquitos/Batiquitos3.jpg" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>Lawson Peak Trail</p>
            <p></p>
            
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
      
      <div class="col-sm-4 col-xs-6">
      
      	<div class="panel panel-default">
          <div class="panel-thumbnail"><a href="#" title="Interiors"><img src="/img/TrailImages/Batiquitos/Batiquitos3.jpg" class="img-responsive"></a></div>
          <div class="panel-body">
            <p>Cedar Creek Falls to Devil's Punchbowl</p>
            <p></p>
            
          </div>
        </div><!--/panel--> 

      </div><!--/col--> 

<div class="container">
</footer>

<% include footer %>