<% include header %>
    <!-- PAGE-HEADER-->
      <div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Batiquitos Lagoon Trail</h1>
					
					<!-- BREADCRUMB -->
					<ul class="breadcrumb">
						<li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
						<li><a href="#">Find A Trail</a><span class="divider">&rarr;</span></li>
						<li class="active">Batiquitos Lagoon Trail</li>
					</ul>
					<!--END: BREADCRUMB -->
				</div>
			</div>
		</div>
      </div>
<!-- PAGE-HEADER-->

<div class="container">
      <!-- Example row of columns -->
      <div class="row-fluid">
	  
<!-- CONTENT SIDE-->
<div class="col-sm-8">

<!-- INNER ROW-->
<div class="row-fluid">
<!-- article-->
		<div class="thumbnail">
			<img src="img/TrailImages/Batiquitos/Batiquitos1.jpg" alt="post image" />
		</div>
		
		<h2 class=""><a href="#">Standart post subtitle h2</a></h2>
			<p class=" clearfix">
				<i class="fa-icon-comment"></i>
				<a href="#">3 Comments</a>
				| <i class="fa-icon-share"></i>
				<a href="#">39 Shares</a> | <i class="fa-icon-user"></i> 
				<a href="#">Admin</a> | Tags: 
				<a href="#"><span class="label label-info">Bootstraptor</span></a> 
				<a href="#"><span class="label label-info">Bootstrap</span></a> 
				<a href="#"><span class="label label-info">UI</span></a> 
				<a href="#"><span class="label label-info">growth</span></a>
			</p>
		<p class="lead">Lead paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		
		<p class="">Standart paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Standart paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Standart paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		
		<p class="">Standart paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Standart paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Standart paragraph. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		
<!--/ article-->


<!--/ article-->
<hr>

 <ul class="pager row-fluid">
  <li class="col-sm-6"><a class="pull-left" href="#">Previous post</a></li>
  <li class="col-sm-6"><a class="pull-right" href="#">Next post</a></li>
</ul>
</div>
<!-- INNER ROW-FLUID-->

</div>
<!-- /CONTENT SIDE-->
   
<!-- RIGHT SIDE-->   
	<div class="col-sm-4" style="background-color:RGBA(102, 102, 102, 1)">
		<h4>Specs</h4>
	<hr>
		<table class="table">
        <tbody>
            <tr>
                <td><img src="/img/filter/1-10.png"></td>
                <td><h4>difficult</h4></td>
            </tr>
						<tr>
                <td><img src="/img/filter/0-08.png"></td>
                <td><h4>3 mi</h4></td>
            </tr>
            <tr>
                <td><img src="/img/filter/0-05.png"></td>
                <td><h4>2.5 hr</h4></td>
            </tr>
        </tbody>
    </table>
		<div>
		 <h4>Trail</hs4>
			<hr>
			<img src="/img/MapSimple.png">
		</div>
		</br>
<h4>Weather</h4>
	<hr>
		<div class="col-md-3">
			<h2>68</h2>
			 <hr>
			<h4>NOW</h4>
    </div>
		<div class="col-md-3">
			<h2>73</h2>
			 <hr>
			<h4>TUE</h4>
    </div>
		<div class="col-md-3">
			<h2>69</h2>
			 <hr>
			<h4>WED</h4>
    </div>
   </br>
   </br> 
    </div>
<!-- /RIGHT SIDE--> 

</div>
</div> <!-- /container -->
<!--/ CONTENT -->

<!-- FOOTER-->
<footer>
<div class="container">
	<div class="row-fluid">
      <div class="col-sm-3">
        <h4 class="line3 center standart-h4title"><span>Navigation</span></h4>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">project</a></li>
          <li><a href="#">Elements</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
	  
    <div class="col-sm-3">
        <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
        <ul class="footer-links">
          <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
          <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
         <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
         <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
         <li><a href="http://www.bootstraptor.com">Bootstrap templates</a></li>
        </ul>
    </div> 
	  
	<div class="col-sm-3">
        <h4 class="line3 center standart-h4title"><span>Useful Links</span></h4>
        <ul class="footer-links">
          <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
          <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
		<li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
         <li><a href="http://www.bootstraptor.com">Bootstraptor.com</a></li>
         <li><a href="http://www.bootstraptor.com">Bootstrap templates</a></li>
        </ul>
    </div>
	
    <div class="col-sm-3">
        <h4 class="line3 center standart-h4title"><span>Our office</span></h4>
		<address>
			<strong>bootstraptor.com, LLC.</strong><br>
			<i class="fa-icon-map-marker"></i> 795 Folsom Ave, Suite 600<br>
			San Francisco, CA 94107<br>
			<i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890
		
		</address>
    </div>
  
</div>
	<hr>
        <p>© bootstraptor.com Company 2013</p>
  </div><!-- CONTAINER FOOTER-->
	  
</footer>

<% include footer %>