	<% include header %>
	<link rel="stylesheet" type="text/css" href="/css/styleNoJS.css" />
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	
	<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner" >
        <div class="item active">
          <img src="../img/slider1.jpg">
           <div class="carousel-caption">		
            <p>Join us for a day of inspirational and engaging taster lectures, led by acclaimed academic staff from one of the UKÕs leading universities. The Taster Conference will give you the unique chance to sample the subjects you're considering and get some hands on experience on what a particular course involves. It is designed to help with your university research whether you're applying to start university in 2015 or 2016.<a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Undergraduate Taster Conference</a></p>
          </div>
        </div><!-- End Item -->
 
         <div class="item">
          <img src="../img/slider2.jpg">
           <div class="carousel-caption">
            <h4><a href="#">50% discount on tuition fees for postgraduate taught courses</a></h4>
            <p>We have a launched a new Graduate Scholarship offering a 50% discount on tuition fees for postgraduate taught courses (Masters, Postgraduate Diploma or Postgraduate Certificate). The scholarship will be awarded to Home/ EU students who graduate with a 2.1 or above at the end of the 2014-5 academic year. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">50% discount on tuition fees</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/760x400/dddddd/333333">
           <div class="carousel-caption">
            <h4><a href="#">tempor invidunt ut labore et dolore</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/760x400/999999/cccccc">
           <div class="carousel-caption">
            <h4><a href="#">magna aliquyam erat, sed diam voluptua</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="http://placehold.it/760x400/dddddd/333333">
           <div class="carousel-caption">
            <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Undergraduate Taster Conference - Saturday 6th December 2014</h4></li>
      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>50% discount on tuition fees for postgraduate taught courses</h4></li>
      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>tempor invidunt ut labore et dolore</h4></li>
      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>magna aliquyam erat, sed diam voluptua</h4></li>
      <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4></li>
    </ul>

      <!-- Controls -->
      <div class="carousel-controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

    </div><!-- End Carousel -->
</div>
	<!---------old--------->
	
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="/js/jquery.vaccordion.js"></script>
		<script type="text/javascript">
				$(document).ready(function(){
				$('#header-ghost').height($('.header').outerHeight());
				$('.va-title').each(function(){
					$(this).css('line-height',$(this).parent().outerHeight()+'px');
				});
			}
			$(window).resize(function(){reRender();});
			$(function() {
				$('#va-accordion').vaccordion({
					visibleSlices	: 10,
					expandedHeight	: 200,
					animOpacity		: 0.4,
					contentAnimSpeed: 100
				});
				reRender();
				$('.heuristicTrigger').each(function(){
					$(this).click(function(){
						$('html,body').animate({
							scrollTop:$("#heuristicDetail"+$(this).attr("data-destination")).offset().top-$('.header').outerHeight()
						},800);
					});
				});
				$('.scrollToTopTrigger').click(function(){
					$('html,body').animate({
						scrollTop:$('body').offset().top
					},800);
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function(){
    
	var clickEvent = false;
	$('#myCarousel').carousel({
		interval:   9000	
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');		
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');	
			}
		}
		clickEvent = false;
	});
})

$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel .list-group-item').outerHeight(triggerheight);
});
		</script>
		
<% include footer %>
