<% include header2 %>
<!--script src="/js/mixitup2.js"></script>
<link rel="stylesheet" href="/css/mixitup2.css"-->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" id="navFix" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Take A</span> Hike
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Download</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
		
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Take A Hike</h1>
                        <p class="intro-text">Add a tagline here. Plus other stuff and things. Filler filler filler.</p>
                        <a href="#blah" class="btn btn-circle page-scroll">
<!--													<i class="glyphicon glyphicon-search">
-->                            <i class="fa fa-angle-double-down "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<div id="blurb" class="col-md-7">
		<p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
	</div>

    <!-- About Section -->
    <section id="blah" class="container-fluid content-section text-center">
        <div class="row" id="rowFix">
            <div class="col-sm-8">
							<h2>Find A Hike</h2>
							<form class="controls" id="Filters">
  <!-- We can add an unlimited number of "filter groups" using the following format: -->
  <div class="row">
	<fieldset>
		<!--REPLACE SHAPES WITH DIFFICULTY-->
    <h4>DIFFICULTY</h4>
    <div class="checkbox">
      <input type="checkbox" value=".ez"/>
      <!--label>Square</label-->
			<label><img src="img/filter/1-08.png"> Easy</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".mod"/>
      <!--label>Circle</label-->
	    <label><img src="img/filter/1-09.png"> Moderate</label>

    </div>
    <div class="checkbox">
      <input type="checkbox" value=".diff"/>
      <!--label>Triangle</label-->
	    <label><img src="img/filter/1-10.png"> Hard</label>
    </div>
  </fieldset>
  
  <fieldset>
	<!--REPLACE COLOURS WITH DISTANCE-->
    <h4>Distance</h4>
    <div class="checkbox">
      <input type="checkbox" value=".short"/>
      <label><img src="img/filter/0-08.png"> Short < 1 mile</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".med"/>
      <label><img src="img/filter/0-09.png"> Medium 1 - 3 miles</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".long"/>
      <label><img src="img/filter/0-10.png"> Long 3.5+ miles</label>
    </div>
  </fieldset>
  
  <fieldset>
	<!--REPLACE SIZES WITH DURATION-->
    <h4>Duration</h4>
    <div class="checkbox">
      <input type="checkbox" value=".lo"/>
      <label><img src="img/filter/0-07.png"> Short < 1 hour</label>
    </div>
		<div class="checkbox">
      <input type="checkbox" value=".mid"/>
      <label><img src="img/filter/0-06.png"> Medium 1-2 hours</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" value=".hi"/>
      <label><img src="img/filter/0-05.png"> Long 2.5+ hours</label>
    </div>
  </fieldset>
  
  <button id="Reset">Clear Filters</button>
</form>
</div>

<div id="Container" class="container">
  <div class="fail-message"><span>No items were found matching the selected filters</span></div>
  
  <div class="mix diff long mid"><img class="img-responsive square" src="/img/MapCropped/MtWoodson_Map.png"></div>
  <div class="mix mod med lo"><img class="img-responsive" src="/img/MapCropped/Cowles_Map.png"></div>
	<div class="mix ez med mid"><img class="img-responsive" src="/img/MapCropped/Bayside_Map.png"></div>
  <div class="mix diff long mid"><img class="img-responsive" src="/img/MapCropped/MtWoodson_Map.png"></div>
  <!--div class="mix mod short lo"><img src="/img/MapCropped/LaJolla_Map.png"></div-->
  <div class="mix ez short lo"><img class="img-responsive" src="/img/MapCropped/TorreyPinesGuyFleming_Map.png"></div>
  <div class="mix ez long mid"><img class="img-responsive" src="/img/MapCropped/SanElijo_Map.png"></div>
  <div class="mix ez med lo"><img class="img-responsive" src="/img/MapCropped/Batiquitos_Map.png"></div>
  <div class="mix ez short lo"><img class="img-responsive" src="/img/MapCropped/Inaja_Map.png"></div>
  <div class="mix mod long hi"><img class="img-responsive" src="/img/MapCropped/PalomarObservatory_Map.png"></div>
  <div class="mix ez long hi"><img class="img-responsive" src="/img/MapCropped/LosPenasquitos_Map.png"></div>
  <div class="mix mod long hi"><img class="img-responsive" src="/img/MapCropped/NorthShoreLake_Map.png"></div> 
  <div class="mix ez med lo"><img class="img-responsive" src="/img/MapCropped/DiscoveryLake_Map.png"></div>
  <div class="mix ez med lo"><img class="img-responsive" src="/img/MapCropped/LosJilgueros_Map.png"></div>
  <div class="mix ez long mid"><img class="img-responsive" src="/img/MapCropped/WildernessGardens_Map.png"></div>
  <div class="mix diff long hi"><img class="img-responsive" src="/img/MapCropped/SanMiguel_Map.png"></div>
  <div class="mix diff long hi"><img class="img-responsive" src="/img/MapCropped/Fortuna_Map.png"></div>
  <div class="mix diff long hi"><img class="img-responsive" src="/img/MapCropped/Lawson_Map.png"></div>
  <div class="mix diff long hi"><img class="img-responsive" src="/img/MapCropped/CedarCreek_Map.png"></div>
  <div class="mix diff long mid"><img class="img-responsive" src="/img/MapCropped/ThreeSisters_Map.png"></div>
  <div class="mix mod long hi"><img class="img-responsive" src="/img/MapCropped/IronMountain_Map.png"></div>

  <div class="gap"></div>
  <div class="gap"></div>
  <div class="gap"></div>
  <div class="gap"></div>
	
</div>
<script>
	// On document ready:

$(function(){

	// Instantiate MixItUp:

	$('#Container').mixItUp();

});
</script>
								
                <!--<h2>About Grayscale</h2>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
                
                
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
                
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>-->
            </div>
            
            <div class="col-sm-4" id="rowFix">
            	<div id="sideBar">
            		<div id="map-canvas"></div>
            	</div>
            </div>
        </div>
    </section>
<% include footer2 %>

  