	<% include header %>
	  <link rel="stylesheet" href="/css/grid.css">
	   <div class="container">
<!-- Category Icons=================================== -->
<!--TEST TOOLTIP-->
<div class="container-fluid" role="main">
	<ul class="thumbnails" id="hover-cap-4col">
<li class="col-xs-12 col-sm-3 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Dataviz</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-4 col-md-4 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Graphics.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>User interface, user experience, iPad apps, website mockups.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-3 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/paperbag3.jpg);">
				<div class="caption">
					<h4>Photography</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-3 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-3 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Installations.jpg);">
				<div class="caption">
					<h4>Installation</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-3 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Programs.png);">
				<div class="caption">
					<h4>Programs</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-3 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Dataviz.png);">
				<div class="caption">
					<h4>Dataviz</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-4 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Programs.png);">
				<div class="caption">
					<h4>Programs</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-4 col-md-4 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/traditional.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-4 col-md-4 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Programs.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-4 col-md-4 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<!--=========little====================-->
<li class="col-xs-12 col-sm-4 col-md-4 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-12 col-sm-4 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Programs.png);">
				<div class="caption">
					<h4>Programs</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
	</ul>

<!---/.category icons-->
</div><!--/container===============-->
</div>
	<script>
	$(document).ready(function(){
		$("[rel='tooltip']").tooltip();    
		$('#hover-cap-4col .img-circle').hover(
			function(){
				$(this).find('.caption').slideDown(250);
			},
			function(){
				$(this).find('.caption').slideUp(250);
			}
		);    
	});           
  </script>
			
        <!-- START THE FEATURETTES -->
      <div class="container">
        <div style="opacity: 1; height: 110px;" class="page-header">
            <h1 style="line-height: 53px;">Hiking Clubs<small>Go Outdoors With Others  </small></h1>
          
             </div>
      
      <hr class="featurette-divider">
      
     <div class="featurette">
        <a href="#"><img style="max-height: 500px;"  class="featurette-image pull-right" src="/img/Socail/SanDiegoHiking.png"></a>
        <h2 class="featurette-heading">San Diego Hiking Club <span class="muted"> </span></h2>
        <p class="lead">The San Diego Hiking Clubª was founded in 1980 by the late Skip Ruland for the purpose of acquainting people with
	the wilderness areas of San Diego County. When The Wilderness Association of San Diego, Inc. was established in 1986, it began sponsorship
	of the Club. The Association was created by a group of people whose common bond was a strong interest in the preservation of San Diego
	CountyÕs wilderness and the desire to experience the beauty of our mountains, deserts, and beaches. The founders felt it was important to
	foster a sense of wonder and respect for our natural surroundings through personal experience.</p>
      </div>

      <hr class="featurette-divider">

       <div class="featurette">
        <a href="#"><img style="max-height: 500px;"  class="featurette-image pull-right" src="/img/Socail/CrystalCove.png"></a>
        <h2 class="featurette-heading">Crystal Cove Cardio <span class="muted"> </span></h2>
        <p class="lead">Get up, get outdoors, and get hiking with the Crystal Cove Cardio Club. CrystalCoveCardio.com is a group
	focused on CARDIO. Expect to sweat WITHOUT running. We are for those who love the health and wellness benefits you get
	from fast paced "heart-pumping" walks. The emphasis is on CARDIO.</p>
      </div>

      
      <hr class="featurette-divider">

       <div class="featurette">
        <a href="#"><img style="max-height: 500px;"  class="featurette-image pull-right" src="/img/Socail/Hiking.png"></a>
        <h2 class="featurette-heading">VAVI Hiking Club <span class="muted"> </span></h2>
        <p class="lead">The San Diego Hiking Clubª was founded in 1980 by the late Skip Ruland for the purpose of acquainting people with
	the wilderness areas of San Diego County. When The Wilderness Association of San Diego, Inc. was established in 1986, it began sponsorship
	of the Club. The Association was created by a group of people whose common bond was a strong interest in the preservation of San Diego
	CountyÕs wilderness and the desire to experience the beauty of our mountains, deserts, and beaches. The founders felt it was important to
	foster a sense of wonder and respect for our natural surroundings through personal experience.</p>
      </div>

      
        <hr class="featurette-divider">

       <div class="featurette">
        <a href="#"><img style="max-height: 500px;"  class="featurette-image pull-right" src="/img/Socail/HikingOC.png"></a>
        <h2 class="featurette-heading">Hiking Orange County <span class="muted"> </span></h2>
        <p class="lead">Join us whether you are new or experienced in Hiking. There are different levels, but we all share one
	common: using our legs to move up down hills. Most of the time on dirt trails, but there are different terrains: rockies
	or gravels or in water, river or mud; different settings: mountain, forest, wilderness or desert. Click RATING TABLE to
	learn more about difficulty levels</p>
      </div>
      
      
      
        <hr class="featurette-divider">

        <div class="featurette">
        <a href="#"><img style="max-height: 500px;"  class="featurette-image pull-right" src="/img/Socail/outdoorsclub.png"></a>
        <h2 class="featurette-heading">Outdoors Club <span class="muted"> </span></h2>
        <p class="lead">OutdoorsClub.org is a grass roots organization for outdoor enthusiasts. So if you want to hike, bike, climb,
	backpack, snowboard or participate in other outdoor pursuits, from beginner to expert, with fun-loving, active folks, the
	Club is for you! OutdoorsClub is promoted and operated by its members. To ensure the success and growth of the club, consider
	coordinating a trip or tell a friend about us. Our vision is to create a nationwide network of outdoors enthusiasts to share
	our adventures, to learn from, to have fun with, and to create life long friends. We hope you share our vision and that you
	will decide to be part of this phenomenon.
</p>
      </div>
      
      
      
      
        <hr class="featurette-divider">

        <div class="featurette">
        <a href="#"><img style="max-height: 500px;"  class="featurette-image pull-right" src="/img/Socail/SeasideHiking.png"></a>
        <h2 class="featurette-heading">Seaside Hiking CLub <span class="muted"> </span></h2>
        <p class="lead">To provide San Diego hikers and their friends with regular San Diego hiking experiences throughout the
	beaches, inland valleys, mountains and deserts of San Diego County.To provide a positive hiking club setting for exercise
	and the exchange of outdoor information, education and knowledge.To educate and create an awareness, interest and understanding
	of the importance of preserving our natural environment.To share the essential emotional, spiritual and physical health benefits
	that hiking in nature provides.To provide a friendly hiking club for San Diego hikers and their friends to meet and connect.To
	perform occasional cleanup and maintenance projects of San Diego County hiking trails.
</p>
      </div>
	
      
      
      
      </div> <!-- /END THE FEATURETTES -->
      
      
      
      <!-- BOOTSTRAP GRID COMMENTED OUT
      
      
      
      
      
      
      
      <hr class="featurette-divider">
        

      <div class="page-header">
        <h1>Bootstrap grid examples</h1>
        <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
      </div>

      <h3>Three equal columns</h3>
      <p>Get three equal-width columns <strong>starting at desktops and scaling to large desktops</strong>. On mobile devices, tablets and below, the columns will automatically stack.</p>
      <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div>

      <h3>Three unequal columns</h3>
      <p>Get three columns <strong>starting at desktops and scaling to large desktops</strong> of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.</p>
      <div class="row">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-3">.col-md-3</div>
      </div>

      <h3>Two columns</h3>
      <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>
      <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
      </div>

      <h3>Full width, single column</h3>
      <p class="text-warning">No grid classes are necessary for full-width elements.</p>

      <hr>

      <h3>Two columns with two nested columns</h3>
      <p>Per the documentation, nesting is easyÑjust put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.</p>
      <p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
      <div class="row">
        <div class="col-md-8">
          .col-md-8
          <div class="row">
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
          </div>
        </div>
        <div class="col-md-4">.col-md-4</div>
      </div>

      <hr>

      <h3>Mixed: mobile and desktop</h3>
      <p>The Bootstrap 3 grid system has four tiers of classes: xs (phones), sm (tablets), md (desktops), and lg (larger desktops). You can use nearly any combination of these classes to create more dynamic and flexible layouts.</p>
      <p>Each tier of classes scales up, meaning if you plan on setting the same widths for xs and sm, you only need to specify xs.</p>
      <div class="row">
        <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      </div>
      <div class="row">
        <div class="col-xs-6">.col-xs-6</div>
        <div class="col-xs-6">.col-xs-6</div>
      </div>

      <hr>

      <h3>Mixed: mobile, tablet, and desktop</h3>
      <p></p>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8">.col-xs-12 .col-sm-6 .col-lg-8</div>
        <div class="col-xs-6 col-lg-4">.col-xs-6 .col-lg-4</div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
      </div>

      <hr>

      <h3>Column clearing</h3>
      <p><a href="http://getbootstrap.com/css/#grid-responsive-resets">Clear floats</a> at specific breakpoints to prevent awkward wrapping with uneven content.</p>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          .col-xs-6 .col-sm-3
          <br>
          Resize your viewport or check it out on your phone for an example.
        </div>
        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

        <!-- Add the extra clearfix for only the required viewport -->
       
       
       
       
       <!--COMMENTED OUT
       
       
       
       
       
        <div class="clearfix visible-xs"></div>

        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
      </div>

      <hr>

      <h3>Offset, push, and pull resets</h3>
      <p>Reset offsets, pushes, and pulls at specific breakpoints.</p>
      <div class="row">
        <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
        <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
      </div>


    </div> <!-- /container -->

	
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="/js/jquery.vaccordion.js"></script>
		<script type="text/javascript">
				$(document).ready(function(){
				$('#header-ghost').height($('.header').outerHeight());
				$('.va-title').each(function(){
					$(this).css('line-height',$(this).parent().outerHeight()+'px');
				});
			}
			$(window).resize(function(){reRender();});
			$(function() {
				reRender();
				$('.scrollToTopTrigger').click(function(){
					$('html,body').animate({
						scrollTop:$('body').offset().top
					},800);
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function(){
    
	var clickEvent = false;
	$('#myCarousel').carousel({
		interval:   9000	
	}).on('click', '.list-group li', function() {
			clickEvent = true;
			$('.list-group li').removeClass('active');
			$(this).addClass('active');		
	}).on('slid.bs.carousel', function(e) {
		if(!clickEvent) {
			var count = $('.list-group').children().length -1;
			var current = $('.list-group li.active');
			current.removeClass('active').next().addClass('active');
			var id = parseInt(current.data('slide-to'));
			if(count == id) {
				$('.list-group li').first().addClass('active');	
			}
		}
		clickEvent = false;
	});
})

$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
	$('#myCarousel .list-group-item').outerHeight(triggerheight);
});
		</script>
		
<% include footer %>
