<% include header %>

  <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/social.css">
	   
            
            
            
            
            
            





<div class="container">
  <h1> Hike with Others! </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">            
            <div class="thumbnail">
                <div class="caption">
                    <h4> <a href="http://www.sandiegohikingclub.org/">The San Diego Hiking Clubª </h4>
                    <p>The San Diego Hiking Clubª was founded in 1980 by the
                    late Skip Ruland for the purpose of acquainting people with
                    the wilderness areas of San Diego County. When The
                    Wilderness Association of San Diego, Inc. was established in
                    1986, it began sponsorship of the Club. The Association was
                    created by a group of people whose common bond was a strong
                    interest in the preservation of San Diego CountyÕs
                    wilderness and the desire to experience the beauty of our
                    mountains, deserts, and beaches. The founders felt it was
                    important to foster a sense of wonder and respect for our
                    natural surroundings through personal experience. </a>
</p>
                    
                </div>
                <img src="../img/Socail/SanDiegohiking2.png">
            </div>
        </div>
        
      
        <div class="col-xs-12 col-sm-8 col-md-6">            
            <div class="thumbnail">
                <div class="caption">
                    <h4><a href="http://www.outdoorsclub.org/">Outdoors Club</h4>
                    <p>if you want to hike, bike, climb, backpack, snowboard or
                    participate in other outdoor pursuits, from beginner to
                    expert, with fun-loving, active folks, the Club is for you!
                    OutdoorsClub is promoted and operated by its members. To
                    ensure the success and growth of the club, consider
                    coordinating a trip or tell a friend about us. Our vision is
                    to create a nationwide network of outdoors enthusiasts to
                    share our adventures, to learn from, to have fun with, and
                    to create life long friends. We hope you share our vision
                    and that you will decide to be part of this phenomenon. </a>
</p>
                    
                </div>
                <img src="../img/Socail/outdoorsclub2.png">
            </div>
        </div>

    </div>
        
        
          <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">            
            <div class="thumbnail">
                <div class="caption">
                    <h4><a href="http://www.govavi.com/hiking"> VAVI Hiking Club</h4>
                    <p>Do you want to meet new people and check out the most
                    beautiful trails in San Diego? VAVi's San Diego Hiking Club
                    is the best way to see all that our beautiful city has to
                    offer while getting a great workout and meeting awesome
                    people! This is one of the best San Diego Hiking Clubs in
                    the area! Don't miss out and start hiking through San Diego
                    today! </a></p>
                    
                </div>
                <img src="../img/Socail/Hiking2.png">
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-6">            
            <div class="thumbnail">
                <div class="caption">
                    <h4> <a href="http://www.meetup.com/crystalcovecardio/"> Crystal Cove Cardio</h4>
                    <p>Get up, get outdoors, and get hiking with the Crystal
                    Cove Cardio Club. CrystalCoveCardio.com is a group focused
                    on CARDIO. Expect to sweat WITHOUT running. We are for those
                    who love the health and wellness benefits you get from fast
                    paced "heart-pumping" walks. The emphasis is on CARDIO. </a></p>
                    
                </div>
                <img src="../img/Socail/CrystalCove2.png">
            </div>  
        </div> 
    </div>
    
    
     <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">            
            <div class="thumbnail">
                <div class="caption">
                    <h4><a href="http://www.meetup.com/HikingOC/">Hiking Orange County</h4>
                    <p>oin us whether you are new or experienced in Hiking.
                    There are different levels, but we all share one common:
                    using our legs to move up down hills. Most of the time on
                    dirt trails, but there are different terrains: rockies or
                    gravels or in water, river or mud; different settings:
                    mountain, forest, wilderness or desert. </a></p>
                    
                </div>
                <img src="../img/Socail/HikingOC2.png">
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-6">            
            <div class="thumbnail">
                <div class="caption">
                    <h4><a href="http://www.outdoorsclub.org/">Sea Side Hiking</h4>
                    <p>To provide San Diego hikers and their friends with regular San Diego hiking experiences throughout the beaches, inland valleys, mountains and deserts of San Diego County.

Educate and create an awareness, interest and understanding of the importance of preserving our natural environment.

Providing a friendly hiking club for San Diego hikers and their friends to meet and connect.
Also to perform occasional cleanup and maintenance projects of San Diego County hiking trails. </a>
</p>
                    
                </div>
                <img src="../img/Socail/SeasideHiking2.png">
            </div>  
        </div> 
    </div>
    
    
    <!--
    <div class="row">
        <div class="col-xs-12 text-center">
            Original <a href="http://bootsnipp.com/snippets/featured/thumbnail-caption-hover-effect">Thumbnail Caption Hover Effect</a> by <a href="http://bootsnipp.com/sevenx.de">sevenx.de</a>
        </div>
    </div> -->
  
</div><!-- /.container -->
  
<% include footer %>