<% include header %>


<div class="container">
	<h1> Tips </h1>
	<div role="tabpanel">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tips" aria-controls="home" role="tab" data-toggle="tab">Tips</a></li>
			<li role="presentation"><a href="#safety" aria-controls="profile" role="tab" data-toggle="tab">Safety</a></li>
			<li role="presentation"><a href="#gear" aria-controls="messages" role="tab" data-toggle="tab">Gear</a></li>
		</ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="tips">
	    	</br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/group2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Plan Ahead</h2>
				<p class="tipContent"> Consider your current
				abilities from your recent training to determine
				how much of a hike you can handle, be
				realistic. Get a rough idea of how
				many hours you want to hike, how far you can go,
				what hiking supply load you need, and then use
				maps and guidebooks to find a trail that matches
				your desires and abilities. Make sure you know the terrain
				you will be hiking in and dress accordingly. Also make sure to
				bring a map along with you. Check any fees or permits that you need to purchase ahead of time. Also remember to double check the weather, especially during the winter months.  </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
				
	    			<img class ="img-resizable" src="img/tips/bugspray5.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Protection </h2>
				<p class="tipContent"> To protect your self from
				the sun make sure to put on plenty of sunscreen
				and bring sunglasses and a hat for your trip. Also it is a good idea to put on bug spray.  
			When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long.  </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/waterbottle2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Hydration </h2>
				<p class="tipContent"> One of the most important things you can
					do for a hiking trip is make sure you
					stay hydrated. The best way to ward off
					dehydration is to be constantly sipping
					fluids (water or sports drinks
					work) throughout your trip. Taking
					smaller, frequent sips will help your
					body distribute the water throughout
					your body much better than if you were
					to guzzle a quarter of the bottle a few
					times during the hike. As a general
					rule, try drinking at least one quart of
					water every 30 minutes you’re on the
					trail. </p>
	    		</div>
	    	</div>
	    </div>
	    
	    <div role="tabpanel" class="tab-pane fade" id="safety">

	    	</br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/bugspray5.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Hike in a Group </h2>
				<p class="tipContent">Avoid hiking alone
				because the &quot;buddy system&quot; is safer during any
				type of activity. If traveling with a group,
				never stray from the group. If hiking alone,
				pick a well traveled trail. If you are going alone or with a group make sure you
				let someone know where you are going and when you should be expected to return.
 </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/group2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Stay Aware</h2>
				<p class="tipContent"> Make sure you pay attention while you are hiking. Don't wanter
			off the marked paths. Observe nature, don't touch it. Leave plants and animals alone and enjoy from afar.
			Be careful while hiking, especially in rocky areas where you can injure yourself. When in doubt don't push your self. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/waterbottle2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Bring a First Aid Kit </h2>
				<p class="tipContent">Some items absolutely have to be in your kit to ensure that you have a safe adventure, regardless of how little danger you think you're facing during your outing. You also need to have a large supply of bandages, ointments and tweezers to ensure that you can treat basic wounds and injuries.

These supplies should always be with you during your trip. Remember that even a
minor scrape can turn into a large health problem so you need to be able to take
care of yourself and cover any cuts before infection can set in. </p>
	    		</div>
	    	</div>
	    	
	    </div>
	    
	    <div role="tabpanel" class="tab-pane fade" id="gear">
	    	</br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/group2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent">A Backpack</h2>
				<p class="tipContent"> You will want to bring a backpack to
				carry your supplies. A backpack with a hip belt
				is ideal; it allows the strong bones of your
				pelvis to support the pack's weight, easing the
				load on your shoulders. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/bugspray5.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Apparel</h2>
				<p class="tipContent"> Sturdy boots or shoes
				that fit you well. Watch out for hot spots that
				may cause blisters, and always break your
				footwear in with several short hikes before
				tackling a long hike.Appropriate clothing for
				current (and anticipated) conditions. Check the
				weather forecast before you go, and keep in mind
				how quickly conditions can change in your area.
				</p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/waterbottle2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Navigation </h2>
				<p class="tipContent"> A trustworthy local
				guidebook is a good place to start. If there's
				even a minimal chance of getting lost, you
				should bring a map and compass, too (and know
				how to use them).Also make sure to have a map and compass on hand.  </p>
	    		</div>
	    	</div>
	    </div>
	  </div>

	</div>
</div>
  
<% include footer %>