<% include header %>


<div class="container">
	<h1> Tips </h1>
	<div role="tabpanel">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tips" aria-controls="home" role="tab" data-toggle="tab">Tips</a></li>
			<li role="presentation"><a href="#safety" aria-controls="profile" role="tab" data-toggle="tab">Safety</a></li>
			<li role="presentation"><a href="#gear" aria-controls="messages" role="tab" data-toggle="tab">Gear</a></li>
		</ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="tips">
	    	</br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/group2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Hike in a Group</h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/bugspray5.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Don't Forget To Bring Bug Spray </h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/waterbottle2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Bring a Waterbottle </h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    </div>
	    
	    <div role="tabpanel" class="tab-pane fade" id="safety">

	    	</br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/bugspray5.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Don't Forget To Bring Bug Spray </h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/group2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Hike in a Group</h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/waterbottle2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Bring a Waterbottle </h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    	
	    </div>
	    
	    <div role="tabpanel" class="tab-pane fade" id="gear">
	    	</br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/group2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Hike in a Group</h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/bugspray5.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Don't Forget To Bring Bug Spray </h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    	
	    	<br></br>
	    	<div class="row">
	    		<div class= "col-md-2">
	    			<img class ="img-resizable" src="img/tips/waterbottle2.png"></img>
	    		</div>
	    		
	    		<div class="col-md-10">
	    			<h2 class="headContent"> Bring a Waterbottle </h2>
	    			<p class="tipContent"> When choosing a bug spray, you'll want to take in several factors when choosing a repellent. In general, you should think about
	    			how much time you will be spending outdoors. If you are planning to stay outside for a long time, it is recommended that you buy a bug spray
	    			that contains a higher concentration. On the other hand, you should buy a bug spray with lower concentration if you aren't planning to stay out long. </p>
	    		</div>
	    	</div>
	    </div>
	  </div>

	</div>
</div>
  
<% include footer %>